<h2>Edit authors </h2>
<form action="/authors/<%= author.id %>_?method=PUT" method="POST">
    <%- include('_form_field') %>
    <a href="/authors/<%= author.id %> ">Cancel</a>
    <button ype="Submit">Create</button>
</form>